<!doctype html>
<html>
  <head>
    <title>Sockethub Example IRC Chat</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      h2 { color: #6B6767; }
      form#chat { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      input { border: 0; padding: 10px; margin-right: .5%; }
      button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      button:hover { cursor: pointer; }
      .messageInput { width: 90%; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
      .modal { position: fixed; top: 50%; left: 25%; width: 50%;
               line-height: 70px; height: 200px; padding: 20px;
               margin-top: -100px; background-color: #f1c40f; text-align: center;
               z-index: 10; outline: 9999px solid rgba(0,0,0,0.5); }
    </style>
  </head>
  <body>
    <div class="modal">
      <h2>Click `Join` to connect and join the IRC channel.</h2>
      <form id="join" action="">
        <input id="j" autocomplete="off" value="" disabled><button id="join">Join</button>
      </form>
    </div>
    <ul id="messages"></ul>
    <form id="chat" action="">
      <input id="m" autocomplete="off" class="messageInput" disabled><button id="send" disabled>Send</button>
    </form>

    <script src="<%= address %>jquery.js"></script>
    <script src="<%= address %>sockethub/socket.io.js"></script>
    <script src="<%= address %>activity-streams.js"></script>
    <script src="<%= address %>sockethub-client.js"></script>
    <script>
      debug = function (msg, obj) { console.log(msg, obj); };
      localStorage.debug = '<%= debug_scope %>';
      var sc = new SockethubClient(io('<%= address %>', { path: '/sockethub' }));
      var channel = 'sockethub-test';
      var nick = 'sh-example';

      $('#j').val('#' + channel);

      // our irc user info
      sc.Activity.Object.create({
        id: 'irc://' + nick + '@irc.freenode.net',
        objectType: "person",
        displayName: nick,
        url: "http://sockethub.org",
        image: {
          url: "http://example.org/image.jpg",
          mediaType: "image/jpeg",
          width: 250,
          height: 250
        }
      });

      // the irc chatroom we're connecting to
      sc.Activity.Object.create({
        id: 'irc://irc.freenode.net/' + channel,
        objectType: "room",
        displayName: '#' + channel
      });

      // errors
      sc.socket.on('failure', function (msg) {
        debug('received failure: ', msg);
      });


      // handle incoming messages from the sockethub server
      sc.socket.on('message', function (msg) {
        debug('received message: ', msg);
        if (msg.verb === 'join') {
          $('.modal').css('display', 'none');
          $('input#m').prop('disabled', false);
          $('button#send').prop('disabled', false);
        } else if (msg.verb === 'observe') {
          $('#messages').append($('<li>').text('[ users in ' + msg.actor.displayName + ' ]'));
          $('#messages').append($('<li>').text('[ ' + msg.object.members.join(', ') + ' ]'));
        } else {
          var actor = msg.actor;
          if (typeof actor === 'string') {
            actor = sc.Activity.Object.get(actor);
          }
          $('#messages').append($('<li>').text(actor.displayName + ': ' + msg.object.content));
        }
      });

      // sending irc credentials to sockethub server
      var credentials = {
        actor: 'irc://' + nick + '@irc.freenode.net',
        platform: 'irc',
        object: {
          objectType: 'credentials',
          nick: nick,
          server: 'irc.freenode.net',
          port: 6697,
          secure: true
        }
      };
      debug('sending credentials: ', credentials);
      sc.socket.emit('credentials', credentials);

      // handler for user input, emit messages to sockethub server
      $('#chat').submit(function () {
        var msg = {
          platform: 'irc',
          verb: 'send',
          actor: 'irc://' + nick + '@irc.freenode.net',
          object: {
            objectType: 'message',
            displayName: 'message',
            content: $('#m').val()
          },
          target: 'irc://irc.freenode.net/' + channel
        };

        debug('sending message: ', msg);
        sc.socket.emit('message', msg);
        $('#m').val('');
        return false;
      });

      // handler for user input, emit messages to sockethub server
      $('#join').click(function () {
        var msg = {
          platform: 'irc',
          verb: 'join',
          actor: 'irc://' + nick + '@irc.freenode.net',
          target: 'irc://irc.freenode.net/' + channel
        };

        debug('sending message: ', msg);
        sc.socket.emit('message', msg);
        //$('#join').disabled(true);
        //$('#m').val('');
        return false;
      });
    </script>
  </body>
</html>
